# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store

# Exclude version control directories
.git/
.gitignore

# Exclude test and docs
test/
docs/

# Exclude README and other Markdown files
*.md

# Exclude editor/IDE specific files
.project
.idea/
*.tmproj
.vscode/

# Common backup files
*.swp
*.log
*.bak
*.tmp
*.orig
*~

# Exclude Debug Template File
template*.yaml
